.content__cuerpo{
    width: 1440px;
    margin: 80px auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    background: rgba(243, 245, 252, 1);
}

.contenido{
    padding: 40px;
    display: flex;
}

/* Zona para introducir texto */
.content__inputText{
    width: 100%;
}

.content__inputText--textarea{
    display: flex;
    justify-content: center;
    height: 75%;
    margin: 1% 8%;
}

#campoTextoED{
  width: 80%;
  color: rgba(10, 56, 113, 1);
  outline: none;
  font-size: 32px;
  border-style: none;
  background:none;
  resize: none;
}

.content__inputText--aviso{
    display: flex;
    justify-content: left;
    gap: 8px;
    margin: 1% 17%;
}

.content__inputText--botones button{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

.content__inputText--botones{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.content__inputText--btnencrip{
    background: rgba(10, 56, 113, 1);
    color: rgba(233, 236, 248, 1);
    border: none;
    cursor: pointer;
}

.content__inputText--btndesencrip{
    background: rgba(216, 223, 232, 1);
    color:rgba(10, 56, 113, 1);
    border-style: solid;
    border-color: rgba(10, 56, 113, 1);
    cursor: pointer;
}

/* Zona para ver la impresión del resultado */
.content__printText{
    width: 440px;
    height: 944px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
}
/* Contenido cuando no se encuentra texto */
.content__printText--notfoundText{
    display: none;
    /* display: grid; */
}

.areaText__content--img{
    width: 90%;
}

.content__printText--parrafos{
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
}

.content__printText--pdos{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* Conteido cuando se encuentra texto */
.content__printText--encripDescrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 2%;
}

#areaTextoED{
    width: 90%;
    height: 92%;
    color: rgba(10, 56, 113, 1);
    outline: none;
    font-size: 32px;
    border-style: none;
    border-radius: 10px;
    background-color: rgba(243, 245, 252, 1);
    resize: none;
  }

.content__printText--btncopy{
    width: 50%;
    height: fit-content;
    border-radius: 16px;
    padding: 6px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    color: rgba(10, 56, 113, 1);
    cursor: pointer;
}

.rodapie{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    color: rgba(10, 56, 113, 1);
    font-weight: 500;
    line-height: normal;
}

/*tablet */
@media (max-width: 768px) {
    .content__cuerpo{
        margin: 0;
        width: 100%;
        height: 1384px;
    }
    
    .contenido{
        display: grid;
        grid-template-rows: 1001px auto;
        padding: 74.97px 40px 40px 40px;
    }

    .content__inputText--aviso{
        margin: 1%;
    }

    /* Zona para ver la impresión del resultado */
    .content__printText{
        width: 100%;
        height: 343px;
    }

    /* Contenido cuando se encuentra texto */
    .content__printText--encripDescrip{
        gap: 0;
        top: 0;
        padding-top: 32px;
    }

    #areaTextoED{
        width: 90%;
        height: 78%;
        background: none;
    }

    .content__printText--btncopy{
        margin-top: 14px;
        border: rgba(10, 56, 113, 1);
        border-width: thin;
        border-style: solid;
        background: none;
    }
    
    /* Contenido cuando no se encuentra texto */
    .content__printText--notfoundText{
        width: 31%;
    }
}

/*mobile */
@media (max-width: 375px){
    .content__cuerpo{
        height: 1715px;
    }

    .contenido{
        justify-content: center;
        grid-template-rows: 1156px auto;
        padding: 23.97px 16px 24px 16px;
    }

    .content__inputText--aviso{
        justify-content: center;
    }

    .content__inputText--botones{
        flex-direction: column;
        align-items: center;
    }

    /* Zona para ver la impresión del resultado */
    .content__printText{
        height: 595px;
    }

    #areaTextoED{
        height: 86%;
    }

    .content__printText--btncopy{
        width: 90%;
    }

    /* Contenido cuando no se encuentra texto */
    .content__printText--notfoundText{
        width: 95%;
    }
}